@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">This is my first web app on AWS.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about building web apps &raquo;</a></p>
</div>
